@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Variáveis IFF (Ajustadas para Vermelho e Verde) --- */
:root {
    --iff-green-dark: #6cb333;
    --iff-red-dark: #990000;
    --iff-green: #6cb333;
    --iff-bg: #f8fafc;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--iff-bg);
    padding: 10px 10px;
    display: flex;
    flex-direction: column; /* Faz os elementos ficarem um abaixo do outro */
    min-height: 100vh;      /* Garante que o corpo ocupe a altura toda da tela */
    margin: 0;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    margin: auto;
    margin-top: 10px;
}

.logo-login {
    width: auto;
    max-width: 200px; 
    height: 130px; 
    display: block;
    margin: 0 auto 15px auto; 
}

.login-container h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.login-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

/* NOVO: Estilização dos grupos de input (Nome, Email, Senha, Perfil) */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 15px; 
    text-align: left; /* Alinha labels à esquerda */
}

.input-group label {
    font-weight: bold;
}

/* Estiliza todos os inputs e o SELECT para terem 100% de largura */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container select { 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}

/* Estilo do Botão de Registrar / Entrar */
.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--iff-red-dark);
    color: white;
}

.login-container button[type="submit"]:hover {
    opacity: 0.9;
    transform: scale(1.05);
}


/* Estilos de Formulário de Login (Quando é exibido via JS no login.html) */
#loginForm {
    display: flex; 
    flex-direction: column; 
    gap: 15px;
    padding-top: 10px;
}

#loginForm label {
    align-self: flex-start;
    font-weight: bold;
}
